# Autotools
Makefile
Makefile.in

aclocal.m4
autom4te.cache/
config*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h*
.deps/
.dirstamp
.libs/
m4/*.m4

# Build files 
*.o
*.sym
*.a
*.la

# Tmp files
*~

