# Autotools
Makefile
Makefile.in

aclocal.m4
autom4te.cache/
config*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h*
.deps/
.dirstamp
.libs/
m4/*.m4
.settings/*

# Build files 
build/*
*.o
*.sym
*.a
*.la
*.out

# Log files
*log
*log.txt
# Tmp files
*~

src/client
src/server
