# Autotools
Makefile
configure
*.o
*~
config.*
config-h.in
libtool
.deps
aclocal.m4
autom4te.cache
autom4te.cache/*
stamp-h1
aux-scripts
#*#
#.#*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h*

# Build files 
build
build/*
*.o
*.sym
*.a
*.la
*.out

# Log/Tmp files
log*
*.log
*tmp
perf.*

# Editor
.settings/*

bin/*
zfile
